<!DOCTYPE html>
<html>
    <head>
        <title>Start Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script src="angular.min.js" type="text/javascript"></script>
        <script src="app.js" type="text/javascript"></script>
        <style>
            .no-row {background-color: #fff !important;}
            .no-row:hover {background-color: #fff !important;}
            .success {background-color: green; color: white; padding: 2px;}
            .info {background-color: aquamarine; padding: 2px;}
            .danger {background-color: red; color: white; padding: 2px;}
        </style>
    </head>
    <body ng-app="app" ng-controller="MainCtrl">

        <button type="button" ng-click="addEvent()">Add event</button>

        <button type="button" ng-click="refresh()">Refresh</button>
        
        
        <br><br>

        <table cellpadding="6" cellspacing="6" border="1" ng-model="colSpan" ng-init="colSpan = 5">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="error && !loading" class="no-row">
                    <td colspan="{{colSpan}}" align="center">
                      {{errorMsg}}
                    </td>
                </tr>
                <tr ng-if="loading && !error" class="no-row">
                    <td colspan="{{colSpan}}" align="center">
                      Loading ....
                    </td>
                </tr>
                <tr ng-if="!loading && total == 0 && !error" class="no-row">
                    <td colspan="{{colSpan}}" align="center">
                      <p>Not element founded</p>
                    </td>
                </tr>
                <tr ng-if="!loading && total > 0 && !error" ng-repeat="i in items">
                    <td>{{i.eventName}}</td>
                    <td local-date-time input="i.tStart"></td>
                    <td local-date-time input="i.tEnd"></td>
                    <td ng-switch="i.status">
                      <span ng-switch-when="COMPLETED" class="success">completed</span>
                      <span ng-switch-when="FAILED" class="danger" data-toggle="tooltip" title="{{i.error}}">failed</span>
                      <span ng-switch-default class="info">in-progress</span>
                    </td>
                    <td>
                      <button type="button" class="btn btn-link" style="padding:0" 
                           ng-click="download(i)"
                           ng-disabled="i.status == 'FAILED' || i.status == 'PROGRESS'">
                              Download
                      </button>
                    </td>
                </tr>        
            </tbody>
        </table>
        
        <br>
        <br>
        
        <pre>{{items|json}}</pre>
</body>
</html>
